@import '~scss/mixins';

@import '~js/views/Header/Header';
@import '~js/views/Footer/Footer';

$page-padding-bottom: 6rem;

.upbound-page {
  min-height: calc(100% - #{$footer-height});
  padding-top: $header-height;
  padding-bottom: $page-padding-bottom;

  padding-left: 1rem;
  padding-right: 1rem;

  @media (max-width: $breakpoint-sm-min) {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  @extend .clearfix;
}
