@import '~scss/colors';

@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');

body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
  font-size: 1rem;
  font-weight: normal;
}

a {
  color: $aaom-aqua;
  text-decoration: none;

  &:visited {
    color: lighten($aaom-aqua, 10);
  }

  &:hover,
  &:active {
    color: $aaom-navy;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: 300;
}
