@import '~scss/colors';

.upbound-page--employers__title {
  width: 100%;
  text-align: center;
  font-weight: bold;
  color: $upbound-gray-darkest;
  font-size: 2.5rem;
}

.upbound-page--employers__objective-list-title {
  margin-top: 4rem;
}

.upbound-page--employers__objective-list {
  padding-bottom: 4rem;
}
