@import '~scss/colors';
@import '~scss/grid';

$header-height: 5rem;
$header-padding-top: 10px;
$header-padding-bottom: 10px;

.header-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: $white;
  border-bottom: 1px solid $upbound-gray-lightest;
}

.header {
  height: $header-height;
  padding-top: $header-padding-top;
  padding-bottom: $header-padding-bottom;
  overflow: hidden;
  white-space: nowrap;
}

.header__link,
.header__link-wrapper {
  display: block;
  float: left;
}

.header__link {
  font-size: 1.1rem;

  @media (max-width: $breakpoint-sm-min) {
    font-size: 1em;
  }

  font-weight: 500;
  line-height: calc(#{$header-height} - #{$header-padding-top} - #{$header-padding-bottom});

  &:not(.header__link--logo) {
    padding-left: .5rem;
    padding-right: .5rem;
  }
}

.header__link--logo__image {
  height: 100%;
  max-height: 60px;
  @media (max-width: 24em) {
    max-height: 40px;
  }
  vertical-align: middle;
}

.header__link-wrapper--right {
  float: right;
}
