@import '~scss/colors';

$header-height: 5rem;
$header-padding-top: 10px;
$header-padding-bottom: 10px;

.header {
  height: $header-height;
  padding-top: $header-padding-top;
  padding-bottom: $header-padding-bottom;
  overflow: hidden;
  white-space: nowrap;
}

.header__link,
.header__link-wrapper {
  display: block;
  float: left;
}

.header__link {
  font-size: 1rem;
  font-weight: bold;
  line-height: calc(#{$header-height} - #{$header-padding-top} - #{$header-padding-bottom});

  &:not(.header__link--logo) {
    padding-left: .5rem;
    padding-right: .5rem;
  }
}

.header__link--logo__image {
  height: 100%;
  max-height: 60px;
  vertical-align: middle;
}

.header__link-wrapper--right {
  float: right;
}
