@import '~scss/colors';
@import '~scss/page';
@import '~js/views/Header/Header';

.upbound-page--home {
  text-align: center;
  height: 100%;
}

.upbound-page--home__call-to-action__title {
  font-weight: 400;
  color: $upbound-gray-darkest;
}

.upbound-page--home__motto {
  padding-top: 2rem;
  padding-bottom: 3rem;
  color: $upbound-green;
  font-weight: 500;
}

.upbound-page--home__intro-paragraph {
  line-height: 2.5rem;
  margin-bottom: 4rem;
  color: $upbound-gray-darkest;
}

.upbound-page--home__call-to-action__description {
  line-height: 2rem;
  color: $upbound-gray-dark;
}

.upbound-page--home__call-to-action__button {
  @media (max-width: $breakpoint-sm-min) {
    margin-bottom: 2rem;
  }
}

.upbound-page--home__hero {
  height: calc(100% + #{$page-padding-bottom});
  position: relative;
}

.upbound-page--home__hero__title {
  color: $upbound-green;
  font-weight: 500;
  font-size: 6rem;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;

  @media (max-width: $breakpoint-sm-min) {
    font-size: 4rem;
  }
}

.upbound-page--home__hero__background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  z-index: -1;

  height: 100%;

  background-color: darken($white, 3);

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  background-position-y: 33%;

  @media (max-width: $breakpoint-sm-min) {
    background-position-x: 33%;
  }
}

.upbound-page--home__hero__background__image {

}

.upbound-page--home__hero__icon--down {
  position: absolute;
  bottom: .1rem;
  height: 4rem;
  font-size: 4rem;
  cursor: pointer;
  color: $white;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;

  @media (max-width: $breakpoint-sm-min) {
    font-size: 3rem;
    height: 3rem;
  }

  &:hover {
    color: transparentize($white, 0.1);
  }
}
