@import '~scss/colors';

.upbound-page--home {

}

.upbound-page--home__hero--coming-soon {
  max-width: 100%;
  margin: 0 auto;
  margin-top: 1em;

  text-align: center;
}

.upbound-page--home__hero--coming-soon__logo--aaom {
  display: inline-block;
  vertical-align: middle;
}

.upbound-page--home__hero--coming-soon__text__coming-soon {
  font-weight: 400;
  @media (min-width: 768px) {
    padding: 1em 0;
  }
}

.upbound-page--home__hero--coming-soon__text--job-seeker-prompt {
  margin-top: 1em;
}

.upbound-page--home__hero__title {
  padding-top: 4rem;
  padding-bottom: 6rem;
  color: $upbound-green;
  font-weight: 500;
}
