@import '~scss/colors';

.upbound-page--home {
  text-align: center;
}

.upbound-page--home__call-to-action__title {
  font-weight: 400;
  color: $upbound-gray-darkest;
}

.upbound-page--home__hero__title {
  padding-top: 2rem;
  padding-bottom: 3rem;
  color: $upbound-green;
  font-weight: 500;
}

.upbound-page--home__intro-paragraph {
  line-height: 2.5rem;
  margin-bottom: 4rem;
  color: $upbound-gray-darkest;
}

.upbound-page--home__call-to-action__description {
  line-height: 2rem;
  color: $upbound-gray-dark;
}
